<!DOCTYPE html>

<html lang="en">
<head>
	<!-- include all css and js stuff here -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<!--
		<div style="padding:40px 0px;   border-bottom: 2px solid whitesmoke;">
		<nav class="level">
			<p class="level-item has-text-centered">
			  <a class="link is-info" href="/index">Upload</a>
			</p>
			<p class="level-item has-text-centered">
			  <a class="link is-info">Results</a>
			</p>
			<p class="level-item has-text-centered">
			  <img src="./scrib-01.png" alt="" style="height: 40px;">
			</p>
			<p class="level-item has-text-centered">
			  <a class="link is-info"></a>
			</p>
			<p class="level-item has-text-centered">
			  <a class="link is-info">Contact</a>
			</p>
		  </nav>
		</div>-->
		{% block content %}{% endblock %}
	</body>
</html>