<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html>

<head>
  <title>User Display</title>
  <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
  </link>
  <link rel="icon" type="image/png" href="/static/assets/images/favicon.png" />
  <!-- <link rel="icon" href="img/favicon.ico"> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

  <!--Core CSS -->
  <link rel="stylesheet" href="/static/assets/css/bulma.css">
  <link rel="stylesheet" href="/static/assets/css/core.css">
  <!--Libraries-->
  <link rel="stylesheet" href="/static/assets/fonts/cryptofont/css/cryptofont.min.css">
  <link rel="stylesheet" href="/static/assets/js/aos/aos.css">
</head>


{% block body %}
{{ output }}
{% endblock %}

<body>
  <div class="pageloader is-theme"></div>
  <div class="infraloader is-active"></div>      
  <div class="dark-wrapper">
      <section class="hero is-transparent">
    <div class="hero-head">

    <!-- Cloned navbar -->
    <!-- Cloned navbar that comes in on scroll-->
    <nav id="navbar-clone" class="navbar is-fixed is-dark">
      <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
          <a href="index.html" class="navbar-item">
            <img src="/static/assets/images/logo.png" alt="">
          </a>
          <!-- Responsive toggle -->
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>s
            <span></span>
          </span>
        </div>
        <!-- Menu -->
        <div id="navbarMenu" class="navbar-menu light-menu">
          <div class="navbar-end">
            <!-- Menu item
                <div class="navbar-item is-nav-link">
                  <a class="is-centered-responsive" href="#" target="_blank">
                    <img class="telegram" src="assets/images/logo/telegram.svg" alt="">
                    How to 
                  </a>
                </div>
                 -->
            <!-- About us -->
            <div class="navbar-item">
              <a href="#" class="button k-button k-primary raised has-gradient slanted">
                <span class="text">About Us</span>
                <span class="front-gradient"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- /Cloned navbar -->
    <!-- Static navbar -->
    <!-- Static navbar -->
    <nav class="navbar is-light">
      <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
          <a href="index.html" class="navbar-item">
            <img src="/static/assets/images/logo.png" alt="" height="200px" width="150px">
          </a>
          <!-- Responsive toggle -->
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <!-- Menu -->
        <div id="navbarMenu" class="navbar-menu light-menu">
          <div class="navbar-end">
            <!-- Menu item
                <div class="navbar-item is-nav-link">
                  <a class="is-centered-responsive" href="#" target="_blank">
                    <img class="telegram" src="assets/images/logo/telegram.svg" alt="">
                    How to 
                  </a>
                </div>
                 -->
            <!-- About us -->
            <div class="navbar-item">
              <a href="#" class="button k-button k-primary raised has-gradient slanted">
                <span class="text">About Us</span>
                <span class="front-gradient"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- /Static navbar -->
  </div>
  </section>

  <div class="container" style="width: 914px; padding: 32px;">
    <!-- Pageholder -->
    <div style="background-color: #E9EBFC; padding: 54px 54px; height: 1100px;">
    <!-- Grid holder -->
  <div class="grid">
    <div class="item">
      <div class="item-content">
        <!-- Safe zone, enter your custom markup -->
        This can be anything.
        <!-- Safe zone ends -->
      </div>
    </div>

    <div class="item">
      <div class="item-content">
        <!-- Safe zone, enter your custom markup -->
        ANYTHING2
        <!-- Safe zone ends -->
      </div>
    </div>
  </div>
</div>
</div>
</div>


<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="#">
                <img src="/static/assets/images/logo.png" alt="">
                <div class="brand-subtitle">Helping your notes take off</div>
            </a>
        </div>
        <br>
        <p class="k-copyright">© 2019 | Scribbit. All Rights Reserved</p>
        <br>
    </div>
</footer>

  <script src="/static/assets/js/app.js"></script>
  <!--script src="assets/js/particlesjs/particles.min.js"></script-->
  <script src="/static/assets/js/aos/aos.js"></script>
  <script src="/static/assets/js/main.js" defer="defer"></script> 

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://unpkg.com/muuri@0.6.3/dist/muuri.min.js"></script>
<script src="/static/assets/js/lib.js"></script>

</html>

{% endblock %}