<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block content %}

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Scribbit </title>
    <link rel="icon" type="image/png" href="/static/assets/images/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <!--Core CSS -->
    <link rel="stylesheet" href="/static/assets/css/bulma.css">
    <link rel="stylesheet" href="/static/assets/css/core.css">
    <!--Libraries-->
    <link rel="stylesheet" href="/static/assets/fonts/cryptofont/css/cryptofont.min.css">
    <link rel="stylesheet" href="/static/assets/js/aos/aos.css">
</head>

<body>
    <!-- Pageloader -->
    <div class="pageloader is-theme"></div>
    <div class="infraloader is-active"></div>
    <div class="dark-wrapper">
        <!-- Landing page Hero -->
        <section class="hero is-fullheight is-transparent">
            <div class="hero-head">

                <!-- Cloned navbar -->
                <!-- Cloned navbar that comes in on scroll-->
                <nav id="navbar-clone" class="navbar is-fixed is-dark">
                    <div class="container">
                        <!-- Brand -->
                        <div class="navbar-brand">
                            <a href="/" class="navbar-item">
                                <img src="/static/assets/images/logo.png" alt="">
                            </a>
                            <!-- Responsive toggle -->
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>s
                                <span></span>
                            </span>
                        </div>
                        <!-- Menu -->
                        <div id="navbarMenu" class="navbar-menu light-menu">
                            <div class="navbar-end">
                                <!-- Menu item
									<div class="navbar-item is-nav-link">
										<a class="is-centered-responsive" href="#" target="_blank">
											<img class="telegram" src="assets/images/logo/telegram.svg" alt="">
											How to 
										</a>
									</div>
									 -->
                                <!-- About us -->
                                <div class="navbar-item">
                                    <a href="/about" class="button k-button k-primary raised has-gradient slanted">
                                        <span class="text">About Us</span>
                                        <span class="front-gradient"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- /Cloned navbar -->
                <!-- Static navbar -->
                <nav class="navbar is-light">
                    <div class="container">
                        <!-- Brand -->
                        <div class="navbar-brand">
                            <a href="/" class="navbar-item">
                                <img src="/static/assets/images/logo.png" alt="" height="200px" width="150px">
                            </a>
                            <!-- Responsive toggle -->
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <!-- Menu -->
                        <div id="navbarMenu" class="navbar-menu light-menu">
                            <div class="navbar-end">
                                <!-- Menu item
									<div class="navbar-item is-nav-link">
										<a class="is-centered-responsive" href="#" target="_blank">
											<img class="telegram" src="assets/images/logo/telegram.svg" alt="">
											How to 
										</a>
									</div>
									 -->
                                <!-- About us -->
                                <div class="navbar-item">
                                    <a href="/about" class="button k-button k-primary raised has-gradient slanted">
                                        <span class="text">About Us</span>
                                        <span class="front-gradient"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- /Static navbar -->
            </div>

            <!-- Animated particles -->
            <div id="particles-js"></div>

            <!-- Hero Image and Title -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">

                        <!-- Landing page Title -->
                        <div class="column is-5 landing-caption">
                            <h1 class="title is-1 is-light is-semibold is-spaced main-title">Classifier. Organizer.
                                Formatter.</h1>
                            <h2 class="subtitle is-6 is-light is-thin">
                                Study from a dynamic infosheet created from your notes, powered by Google Cloud OCR &
                                NLP services.
                            </h2>
                            <!-- CTA -->
                            <form action="/upload" method="POST" enctype="multipart/form-data">
                                <input type="file" name="file" id="upload-button"
                                    style="visibility: hidden; display: none;">
                                <label for="upload-button"
                                    class="button k-button k-primary raised has-gradient is-fat is-bold">
                                    <span>
                                        Upload Photo
                                    </span>
                                </label>
                                <button type="submit" id="submit" style="display: none;"></button>
                                <label for="submit"
                                    class="button k-button k-secondary raised has-gradient is-fat is-bold">
                                    <span>
                                        Scribbit!
                                    </span>
                                </label>
                            </form>

                        </div>
                        <!-- Hero image -->
                        <div class="column is-7">
                                <img src="/static/assets/images/whitepaper.png" alt=""></img>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Hero footer -->
            <div class="hero-foot">
                <div class="container">
                    <div class="tabs is-centered">
                        <!-- Client / partner list -->
                        <ul>

                            <li><a><img class="hero-logo" src="/static/assets/images/google-cloud.png" alt=""></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Landing page Hero -->

        <!-- Icon Features section -->
        <section id="start" class="section is-transparent is-relative">
            <!-- Container -->
            <div class="container">

                <!-- Content wrapper -->
                <div class="content-wrapper is-medium">
                    <div class="columns is-vcentered">
                        <!-- Feature -->
                        <div class="column is-4">
                            <div class="feature">
                                <img src="/static/assets/images/icons/chained.svg" alt="" data-aos="fade-up"
                                    data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart">
                                <h4 class="title is-6 is-tight is-light">Markup</h4>
                                <p>Add symbols to highlight semantics on your notes, and you're ready to upload the image.
                                    </p>
                            </div>
                        </div>
                        <!-- Feature -->
                        <div class="column is-4">
                                <div class="feature">
                                        <img src="/static/assets/images/icons/compact.svg" alt="" data-aos="fade-up"
                                            data-aos-delay="500" data-aos-offset="200" data-aos-easing="ease-out-quart">
                                        <h4 class="title is-6 is-tight is-light">Image and Text Processing
                                            </h4>
                                        <p>Our backend server uses Google Cloud character recognition and natural language processing to understand your notes
                                            </p>
                                    </div>
                        </div>
                        <!-- Feature -->
                        <div class="column is-4">
                            <div class="feature">
                                <img src="/static/assets/images/icons/compact.svg" alt="" data-aos="fade-up"
                                    data-aos-delay="500" data-aos-offset="200" data-aos-easing="ease-out-quart">
                                <h4 class="title is-6 is-tight is-light">Editing</h4>
                                <p>See your newly organized notes in boxes and format them with drag and drop features</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- /Container -->
        </section>
        <!-- /Icon Features section -->
    </div>

    <footer class="krypton-footer">
        <div class="container">
            <!-- Logo -->
            <div class="footer-logo">
                <a href="/">
                    <img src="/static/assets/images/logo.png" alt="">
                    <div class="brand-subtitle">Helping your notes take off</div>
                </a>
            </div>
            <br>
            <p class="k-copyright">© 2019 | Scribbit. All Rights Reserved</p>
            <br>
        </div>
    </footer>
    <!-- Core js -->
    <script src="/static/assets/js/app.js"></script>
    <script src="/static/assets/js/aos/aos.js"></script>
    <script src="/static/assets/js/main.js" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>

{% endblock %}

</html>